/*  settings color */

:root {
    --text-color:#565678;
    --primery:#518add;
    --hover:#2e60b8;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.btn-primary {
    color: #fff;
    background-color: var(--primery);
    border-color: var(--primery)
}

.btn-outline-primary {
    color: var(--primery);
    border-color: var(--primery);
}

.btn-primary:hover,.btn-outline-primary:hover{
    background-color: var(--hover);
    border-color: var(--hover);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.nav-link {
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--primery);
}

.text-primary{
    color: var(--primery)!important;
}

.bg-primary {
    background-color: var(--primery)!important;
}

.navbar-brand {
    color: var(--text-color);
}

/* carousel setting */

.feedback-box img {
    width: 80px!important;
    height: 80px;
    border-radius: 50%;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    margin: 0 68px;
    font-size: 3rem;
    color: var(--primery);
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
    background: 0;
    color: var(--hover);
}

.owl-dots {
    margin-top: -42px;
}

.owl-stage {
    transition: all 1s cubic-bezier(.25,.8,.25,1)!important;
}

/* vertical divider */

@media (max-width: 767px) {
     .vr{
        display:none;
    }
}

/* advantages bloks */

#advantage i {
    border-radius: 50%;
    border: 10px solid;
    padding: 1rem 1.4rem;
    font-size: 2rem;
}

.advantage-block {
    transition: all .15s ease-in-out;
}

.advantage-block:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin-top: -8px;
}
